.filterDiv {
  background-color: var(--cor-secundaria); 
  width: 90%;

  padding: 1.5rem;
  gap: 1.5rem;

  margin-bottom: 1.5rem;

  border-radius: var(--borda-raio);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
}

.filterDiv button {
  background: transparent;
  border: none;
  color: #f1f1f1;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.filterDiv button:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.filterDiv button.selected {
  background-color: #121620;
  color: #ffffff;
  font-weight: 700;
}

.search{
    width: fit-content;
    background-color: var(--cor-terciaria);
    flex-direction: row;
    flex-wrap: nowrap;
}

.search input{
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: var(--borda-raio);
    padding: .5rem 1.5rem;
}
.search i{
    font-size: 1.5rem;
}