.categDiv {
  background-color: var(--cor-secundaria); 
  width: 90%;

  padding: 1.5rem;
  gap: 1.5rem;

  border-radius: var(--borda-raio);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
}

.categDiv button {
  background: transparent;
  border: none;
  color: #f1f1f1;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.categDiv button:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.categDiv button.selected {
  background-color: #121620;
  color: #ffffff;
  font-weight: 700;
}